{% extends 'simulate/base.html' %}

{% block content %}
<body>
     <br>
    <br>
    <br>

    <center><h1 class="text-success">BOLD predictions </h1></center>

   
    <br>

<div class = "col-sm-12">
<div class="col-sm-1">
    </div>
<div class="col-sm-5">


    <br>
    <br>
    <br>
    <center>
   <a href = 'contrast_filler.html' ><button type = 'button' class ="btn btn-primary" > <h2> Enter Contrast </h2></button></a>
</center>

    </div>

    <div class="col-sm-5">
        <br>
        <br>
        <br>
    <h3> Replicate published experiment: </h3>

        <iframe id = "iframe_pos_3" width = 90% height = 40% src = 'experiment_list.html' frameBorder="0"></iframe>


    </div>

   

     <div class="col-sm-1">
    </div>
     
</div>

<div class="col-sm-12">
<br><br>
<center><h5> Leila Wehbe,&nbsp; Alexander G. Huth,&nbsp; Fatma Deniz, &nbsp;Marie-Luise Kieseler&nbsp; and&nbsp; Jack L. Gallant </h5></center>
</div>

</body>

{% endblock %}
